on:
  push:  # NOTE: All branches (but checks concurrency)
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

name: Test

jobs:
  functional:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@v7
    - run: uv venv && uv sync --group test
    - run: uv run ape compile --size
    - uses: foundry-rs/foundry-toolchain@v1
    - run: uv run --group test ape test -s --gas --coverage
